# Data Science Tools and Ecosystem

     In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib



```
|Data Science Tools|
| TensorFlow|
| Apache Spark|
|SQL|  


    
```

###Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers.

num1 = 3
num2 = 4
num3 = 5
result = (num1 * num2) + num3
print("Result:", result)

Result: 17

In [30]:
#This will convert 200 minutes to hours by diving by 60 
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = float(input())
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours")

 200

200.0 minutes is equal to 3.3333333333333335 hours

## Objectives

List popular languages for Data Science
- Java
- C++
- Python
- C
- SQL

## Author
Damani Powell